@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  /* background-color: #ecede7; */
}

.bgf{
  /* background-color: #ecede7; */
}


.carousel{
  max-width: 1440px;
  margin: 0 auto;
  width: 95%;
  height: 120px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel::before,
.carousel::after {
  content: "";
  width: 200px;
  height: 100%;
  position: absolute;
}

.carousel::before{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #fff 100%);
  z-index: 1;
}

.carousel::after{
  background-image: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.carousel-banners img{
  max-height: 100%;
  margin: 0 50px;

}

#services{
  background-color: #f1f4f4;
}

#services2{
  background-color: #f1f4f4;
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
  /* margin-top: 15px; */
  position: fixed;
  background: transparent;

  }

  header.active{
    z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 200px; */
  transition: 0.5s ease;
  /* margin-top: 15px; */
  position: fixed;
  background: black;
  }



 header .brand{
  color: #fff; 
 font-size: 1.5em; 
   font-weight: 700; 
 text-transform: uppercase;
  text-decoration: none;

}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
} 

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: #2696E9; */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  /* background: rgba(3, 96, 251, 0.3); */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
  text-align: center;
}

.home .content.active{
  display: block;
  
}

.home .content h1{
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  /* margin-left: 120px; */
}

.home .content h1 span{
  font-size: 1.2em;
  font-weight: 600;
  color: #E04622;
  /* color: #192334; */
}

.home .content p{
  margin-bottom: 65px;
}

.home .content a{
  background: #E04622;
  padding: 15px 35px;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
}

.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
  filter: brightness(80%);
  
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

.container1{
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-top: 30px;
}

.container1 span{
  height: 100%;
  background-image: url('./services/design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
}

.container1 span:nth-child(1){
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}

.container1 span:nth-child(2){
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}

.container1 span:nth-child(3){
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}

.container1 span:nth-child(4){
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}

.container1:hover span{transform: translateY(-100%);}

.container1:hover span:nth-child(1){transition-delay: 0.6s;}
.container1:hover span:nth-child(2){transition-delay: 0.4s;}
.container1:hover span:nth-child(3){transition-delay: 0.2s;}
.container1:hover span:nth-child(4){transition-delay: 0s;}

.content1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  text-transform: capitalize;
  text-align: center;
  transform: translateY(100%);
  transition: all 1.5s;
  transition-delay: 0.3s;
  color: #E04622;
  
}

.content1 p{
  margin: 20px 0 30px
}

.content1 a{
  text-decoration: none;
  color: #E04622;
  padding: 10px 20px;
  border: 3px solid #444;
  font-weight: bolder;
}

.container1:hover .content1{transform: translateY(0);}

/* Container 2 */

.container2{
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-top: 30px;
}

.container2 span{
  height: 100%;
  background-image: url('./services/archivisual.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
}

.container2 span:nth-child(1){
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}

.container2 span:nth-child(2){
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}

.container2 span:nth-child(3){
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}

.container2 span:nth-child(4){
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}

.container2:hover span{transform: translateY(-100%);}

.container2:hover span:nth-child(1){transition-delay: 0.6s;}
.container2:hover span:nth-child(2){transition-delay: 0.4s;}
.container2:hover span:nth-child(3){transition-delay: 0.2s;}
.container2:hover span:nth-child(4){transition-delay: 0s;}

.content2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  text-transform: capitalize;
  text-align: center;
  transform: translateY(100%);
  transition: all 1.5s;
  transition-delay: 0.3s;
  color: #E04622;
}

.content2 p{
  margin: 20px 0 30px
}

.content2 a{
  text-decoration: none;
  color: #E04622;
  padding: 10px 20px;
  border: 3px solid #444;
  font-weight: bolder;
}

.container2:hover .content2{transform: translateY(0);}


/* Container 3 */

.container3{
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-top: 30px;
}

.container3 span{
  height: 100%;
  background-image: url('./services/tours.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
}

.container3 span:nth-child(1){
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}

.container3 span:nth-child(2){
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}

.container3 span:nth-child(3){
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}

.container3 span:nth-child(4){
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}

.container3:hover span{transform: translateY(-100%);}

.container3:hover span:nth-child(1){transition-delay: 0.6s;}
.container3:hover span:nth-child(2){transition-delay: 0.4s;}
.container3:hover span:nth-child(3){transition-delay: 0.2s;}
.container3:hover span:nth-child(4){transition-delay: 0s;}

.content3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  text-transform: capitalize;
  text-align: center;
  transform: translateY(100%);
  transition: all 1.5s;
  transition-delay: 0.3s;
  color: #E04622;
}

.content3 p{
  margin: 20px 0 30px
}

.content3 a{
  text-decoration: none;
  color: #E04622;
  padding: 10px 20px;
  border: 3px solid #444;
  font-weight: bolder;
}

.container3:hover .content3{transform: translateY(0);}


/* Container 4 */


.container4{
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-top: 30px;
}

.container4 span{
  height: 100%;
  background-image: url('./services/spec.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
}

.container4 span:nth-child(1){
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}

.container4 span:nth-child(2){
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}

.container4 span:nth-child(3){
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}

.container4 span:nth-child(4){
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}

.container4:hover span{transform: translateY(-100%);}

.container4:hover span:nth-child(1){transition-delay: 0.6s;}
.container4:hover span:nth-child(2){transition-delay: 0.4s;}
.container4:hover span:nth-child(3){transition-delay: 0.2s;}
.container4:hover span:nth-child(4){transition-delay: 0s;}

.content4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  text-transform: capitalize;
  text-align: center;
  transform: translateY(100%);
  transition: all 1.5s;
  transition-delay: 0.3s;
  color: #E04622;
}

.content4 p{
  margin: 20px 0 30px
}

.content4 a{
  text-decoration: none;
  color: #E04622;
  padding: 10px 20px;
  border: 3px solid #444;
  font-weight: bolder;
}

.container4:hover .content4{transform: translateY(0);}

/* Container 5 */

.container5{
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-top: 30px;
}

.container5 span{
  height: 100%;
  background-image: url('./services/custom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
}

.container5 span:nth-child(1){
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}

.container5 span:nth-child(2){
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}

.container5 span:nth-child(3){
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}

.container5 span:nth-child(4){
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}

.container5:hover span{transform: translateY(-100%);}

.container5:hover span:nth-child(1){transition-delay: 0.6s;}
.container5:hover span:nth-child(2){transition-delay: 0.4s;}
.container5:hover span:nth-child(3){transition-delay: 0.2s;}
.container5:hover span:nth-child(4){transition-delay: 0s;}

.content5{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  text-transform: capitalize;
  text-align: center;
  transform: translateY(100%);
  transition: all 1.5s;
  transition-delay: 0.3s;
  color: #E04622;
}

.content5 p{
  margin: 20px 0 30px
}

.content5 a{
  text-decoration: none;
  color: #E04622;
  padding: 10px 20px;
  border: 3px solid #444;
  font-weight: bolder;
}

.container5:hover .content5{transform: translateY(0);}


/* Container 6 */
.container6{
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-top: 30px;
}

.container6 span{
  height: 100%;
  background-image: url('./services/yard(1).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
}

.container6 span:nth-child(1){
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}

.container6 span:nth-child(2){
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}

.container6 span:nth-child(3){
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}

.container6 span:nth-child(4){
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}

.container6:hover span{transform: translateY(-100%);}

.container6:hover span:nth-child(1){transition-delay: 0.6s;}
.container6:hover span:nth-child(2){transition-delay: 0.4s;}
.container6:hover span:nth-child(3){transition-delay: 0.2s;}
.container6:hover span:nth-child(4){transition-delay: 0s;}

.content6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  text-transform: capitalize;
  text-align: center;
  transform: translateY(100%);
  transition: all 1.5s;
  transition-delay: 0.3s;
  color: #E04622;
}

.content6 p{
  margin: 20px 0 30px
}
.content6 h2{
  color: #000;
}

.content6 a{
  text-decoration: none;
  color: #E04622;
  padding: 10px 20px;
  border: 3px solid #444;
  font-weight: bolder;
}

.container6:hover .content6{transform: translateY(0);}



@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }
  /* .home .content h1{
    font-size: 1em;
    margin-left: -35px;
    text-align: center;

  } */

 



  section{
    padding: 100px 20px;
  }
.container1, .container2, .container3, .container4, .container5, .container6{
  width: 250px;
  height: 250px;
  margin-left: 30px;
}

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px){
  .home .content h1{
    font-size: 2em;
    line-height: 60px;
  }
  .home .content h1 span{
    font-size: 1.5rem;
    text-align: center;
  }

  header .brand img{
    height: 25px;
  }
  
}
@media (max-width: 568px){
  .container1, .container2, .container3, .container4, .container5, .container6{
    width: 250px;
    height: 250px;
    margin-left: 2px;
  }
  
}
